                              \\Css content1\\

.Signinbox {
	float: left;
	padding:150px;
	border: 3px solid #f1f1f2;
	width:100px;
	margin:40px;	
}
.Signupbox {
	display:relative;
	border: 3px solid #f1f1f2;
}

.usn {
  margin-left: 10px;
  color:gray;
 
}
.signintext{
  margin-top: 20px;
  margin-left: 30px;
}
.usndiv {
  margin-left: 30px;
  margin-top: 30px;
}
.usn{
  width: 300px;
  height: 30px;
}
.pw {

 color: gray;
 margin-left: 30px;
 margin-top: 30px;


}
.si {
  background-color:lightblue;
  color:white;
  font-size:18px;
  margin-left:30px;
  margin-top: 60px;
  border-radius:10%
  
}
.Signinbox p{color:Gray}
.Signupbox p{color:Gray}
.lb {
 color:gray;
}
.bigdiv {
 display:flex;
}


.usn1 {
  width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
 
  
}
.pw1 {
width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.hvt {
width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.pw2 {
width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.sdt {
width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.dc {
width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.em {
width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.su {
  background-color:lightblue;
  color:white;
  font-size:18px;
  margin:8px;
  border-radius:10%
}
                                  \\Css content2\\
.shrimp-michellin {
  padding: 30px;
  display:flex;
  height: 400px;

  
}

.tienthanh {
  position: relative;left: 700px;bottom:250px
}
.amount {
  position: relative;left: 700px;bottom:300px
}
.bigdivcontent2 {
  height:auto ;

} 
.tgt {
  font-weight: bold;
  border-radius:10%
  
  
}
.tt {
  padding:20px;
  width: 300px;
  font-weight: bold;
  border-radius:10%
}
.totalmoney {
  position: relative; left: 1200px; bottom: 300px;
}
.sl {
  padding:10px;
  font-weight: bold;
  border-radius:10%

}
.soluong {
  padding-top: 150px;
  padding-right: 400px;

  
}
.cay {
  font-weight: bold;
}
.cttt {
  position: relative;left: 1200px;bottom: 200px;
  width: 200px;
}
                            


                                \\Css content3\\
.bigdivcontent3{
  height: 2000px;
  display: flex;
  overflow: auto;
}
.leftct3 {
  float: left;
  width: 700px;
  height: 700px;
  padding-left: 100px;
  padding-top: 60px;
  
  
}
.rightct3 {
  float: right;
  width: 500px;
  
  padding-right: 300px;
  height: 500px;
  
}

.hvtct3 {
 padding-top:40px
}
.sdtct3 {
  padding-top: 30px;
}
.dcct3 {
  padding-top: 30px;
}
.ct3f {
  width: 500px;
  height: 35px;
}
.tgtct3 {
  padding-top: 150px;
}
.ct3f2 {
  width: 500px;
  height: 35px;
}
.psct3 {
  width: 30px;
  padding-top: 8px;
  
}
.cnnhs1 {
  border-radius:10% ;
  text-align: center;
  width: 600px;
  height: 50px;
  line-height: 50px;
  background-color: bisque;
  font-size: 120%;
  margin-top: 30px;
  
}
.tttct3 {
  padding-top: 30px;
}
.ttct3 {
  padding-top:50px
}

.sizett {
  width: 300px;
  height: 80px;
  font-weight: bold;
  font-size: 150%;
  background-color: bisque;
  border-radius:10% ;
}
.thanhtoanthanhcong {
  font-weight: bold;
  font-size: 150%;
  text-align: center;
  padding-top:50px;
  background-color: bisque;
  width: 300px;
  height: 100px;
  line-height:10px;
  border-radius:10% ;
  margin-left: 750px;
  margin-top: 50px;
}

                          Css content4

.bigdivcontent4 {
  height: 700px;
}
.dai {
  text-align: center;
  padding-top: 200px;
  font-size: 125%;
}
                          \\Css content5\\
 


.right5 ul {
  margin: 0px;
  font-size: 125%;
  padding-left: 400px;

}
.ttt {
    padding:10px;
    font-weight: bold;
    border-radius:10% ;
    
}
.tonggiatien {
    padding-top:200px ;
    height: fit-content;
    width: fit-content;
}

.chitietthanhtoan {
 width: 200px;
 height: 70px;
 background-color: bisque;
 font-weight: bold;
 text-align: center;
 border-radius: 20% ;
 font-size: 120%;
  
}

.cay2 {
  font-weight: bold;
  background-color: bisque;
  background-size:auto;
  width: 180px;
  font-size: 125%;
  text-align: center;
  height:35px;
}
.content3 {
  margin: 0px auto;
}

 





#cc1 {
  padding-bottom:0px;
  
}
#cc2 {
  width:250px;
  height:30px ;

}
#cc3 {
  width:250px;
  height:30px ;
}
.thanhcmntoan {
  font-weight: bold;
}
.left5 {
  width: 300px;
  float: left;
  min-height: 650px;
  background-color: bisque;
}

#thongtin {
  font-size: 150%;
  background-color: bisque;
  width: 300px;
  height: 150px;
  border-color:beige
}
#lsdonhang {
  font-size: 150%;
  background-color: bisque;
  width: 300px;
  height: 150px;
  border-color:beige
}
#cc4 {
  width:800px;
  height:40px ;
  border-color: black;
}
.right5 ul {
  margin: 0px;
  font-size: 125%;
  padding-left: 400px;
  
}
.right5 li {
  list-style: none;
  padding-top: 40px;
  padding-left: 100px;
}
                             









.left6 {
  width: 300px;
  float: left;
  height: 600px;
  background-color: bisque;
}
#thongtin {
  font-size: 150%;
  background-color: bisque;
  width: 300px;
  height: 150px;
  border-color:beige
}
#lsdonhang {
  font-size: 150%;
  background-color: bisque;
  width: 300px;
  height: 150px;
  border-color:beige
}
.dondathang {
  background-color: bisque;
  width: 600px;
  height: 35px;
  text-align: center;
  font-weight: bold;
  transform: rotate(270deg);
  border-color:white;
  border-style: solid;
  border-bottom-color: black;
  position: relative; right: 100px; bottom: 10px;top: 100px;

}
.right6 {
  padding-left: 350px; 
  padding-top: 250px;

}
#rebook {
  background-color: bisque;
  width: 150px;
  height: 50px;
  border-radius:10% ;
  font-weight: bold;
  font-size: 120%;
}
.donhang1 {
  position: relative; left: 220px; bottom:222px;
  width: 1000px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  margin: 0px;
  border-style: solid;


}

.donhang2 {
  position: relative; left: 220px; bottom:100px;
  width: 1000px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  margin: 0px;
  border-style: solid;


}
.donhang3 {
  position: relative; left: 220px; bottom:-58px;
  width: 1000px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  margin: 0px;
  border-style: solid;


}
.emptybox1 {
  position: relative; left: 220px; bottom:310px;
  width: 1000px;
  height: 113px;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  margin: 0px;
  border-style: solid;


}
.emptybox2 {
  position: relative; left: 220px; bottom:276px;
  width: 1000px;
  height: 186px;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  margin: 0px;
  border-style: solid;


}
.emptybox3 {
  position: relative; left: 220px; bottom:275px;
  width: 1000px;
  height: 186px;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  margin: 0px;
  border-style: solid;
}
.datlai1 {
  width: 150px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 125%;
 
  border-radius: 20%;
  position: relative; left:1300px;bottom: 750px;
  
}
.datlai2 {
  width: 150px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 125%;
  
  border-radius: 20%;
  position: relative; left:1300px;bottom: 400px;
  
}
.datlai3 {
  width: 150px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 125%;
 
  border-radius: 20%;
  position: relative; left:1300px;bottom: 620px;
  
}



.infocontent3 ul li {
  list-style: none;
  position: relative; top:200px;
}
