.department-select-tab {
    border: 3px solid #e8b05d;
    background-color: #f9ddb6;
    padding: 20px;
}
.test {
    display: flex;
}
.left {
    border: 3px solid #e8b05d;
    background-color: #f9ddb6;
    width: 20%;
    height: 600px;
}
.left div {
    padding: 10%;
}
.left button {
    font-weight: bold;
	font-size: 120%;
	border-style: none;
	background-color: #f9ddb6;
}
.right {
    border: 3px solid #e8b05d;
    border-left: none;
    background-color: #f9ddb6;
    width: 100%;
    height:600px;
    display:flex;
}
.column {
    float: right;
    align-self: center;
    padding-left: 200px;
}