.module2header {
    background-color: rgb(245, 203, 153);
    width: 100%;
    height: 25px;
    text-align: right;
    
  }
  .module2left {
    width: 15%;  
    height:auto;
    background-color:bisque;
    float: left;  
   
    /* border-styl e: solid;
     border-width: 1px;*/
  }
  .module2right {
    width: 85%;
    background-color: rgb(248, 242, 204)211, 211);
    height: auto;
    float: right;
  }
  .module2right ul {
    margin: 0px;
    font-size: 125%;
    padding-left: 400px;
      
  }
  .module2right li {
    list-style: none;
    padding-top: 40px;
    padding-left: 100px;
  }
  .list{
    padding:28px;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(146, 124, 23);
    text-align: center;
  }
  a:link{
    text-decoration: none;
  }
  .textBox{
    border-style: solid;
    border-width: 2px;
    text-align: center;
    margin: 20px;
    width: 100px;
    height: 20px;
  }
  .imgBox{
    width: 40%;
    height: 300px;
    margin:20px;
  
  }
  .editBox{
    margin: 35px;
  }
  .sText{
      border-style: solid;
    border-width: 1px;
    text-align: center;
    margin-top: 5px;
    margin-left: 40px;
    width: 100px;
  }
  .imgBox-r{
    float: right;
    width: 40%;
    height: 300px;
    margin:20px;
  }
  .formBlock{
    width:400px;
    margin-top: 10px;
    left: 0px;
    position: relative;
    width: 300px;
  }
  input{
    margin-left:40px;
    width: 300px;
  input[type=text]{
    margin-left: 40px;
    width:300px;
  }
  }
  input[type=submit]{
    width:120px;
    left:100px;
  }
  
  
  #cc1 {
      padding-bottom:0px;
      
    }
    #cc2 {
      width:250px;
      height:30px ;
    
    }
    #cc3 {
      width:250px;
      height:30px ;
    }
    .thanhcmntoan {
      font-weight: bold;
    }
    .left5 {
      width: 300px;
      float: left;
      min-height: 650px;
      background-color: bisque;
    }
    
    #thongtin {
      font-size: 150%;
      background-color: bisque;
      width: 300px;
      height: 150px;
      border-color:beige
    }
    #lsdonhang {
      font-size: 150%;
      background-color: bisque;
      width: 300px;
      height: 150px;
      border-color:beige
    }
    #cc4 {
      width:800px;
      height:40px ;
      border-color: black;
    }
    .right5 ul {
      margin: 0px;
      font-size: 125%;
      padding-left: 400px;
      
    }
    .right5 li {
      list-style: none;
      padding-top: 40px;
      padding-left: 100px;
    }
                                 
    
    
    
    
    
    
    
    
    
    .left6 {
      width: 300px;
      float: left;
      height: 600px;
      background-color: bisque;
    }
    #thongtin {
      font-size: 150%;
      background-color: bisque;
      width: 300px;
      height: 150px;
      border-color:beige
    }
    #lsdonhang {
      font-size: 150%;
      background-color: bisque;
      width: 300px;
      height: 150px;
      border-color:beige
    }
    .dondathang {
      background-color: bisque;
      width: 500px;
      height: 35px;
      text-align: center;
      font-weight: bold;
      transform: rotate(270deg);
      border-color:white;
      border-style: solid;
      border-bottom-color: black;
      position: relative; right: 105px; bottom: 15px;top: 64px;
    
    }
    .right6 {
      padding-left: 350px; 
      padding-top: 250px;
    
    }
    #rebook {
      background-color: bisque;
      width: 150px;
      height: 50px;
      border-radius:10% ;
      font-weight: bold;
      font-size: 120%;
    }
    .donhang1 {
      position: relative; left: 166px; bottom:208px;
      width: 1000px;
      height: 25px;
      text-align: center;
      font-weight: bold;
      padding-top: 10px;
      margin: 0px;
      border-style: solid;
    
    
    }
    
    .donhang2 {
      position: relative; left: 166px; bottom:80px;
      width: 1000px;
      height: 25px;
      text-align: center;
      font-weight: bold;
      padding-top: 10px;
      margin: 0px;
      border-style: solid;
    
    
    }
    .donhang3 {
      position: relative; left: 166px; bottom:-45px;
      width: 1000px;
      height: 25px;
      text-align: center;
      font-weight: bold;
      padding-top: 10px;
      margin: 0px;
      border-style: solid;
    
    
    }
    .emptybox1 {
      position: relative; left: 166px; bottom:290px;
      width: 1000px;
      height: 113px;
      text-align: center;
      font-weight: bold;
      padding-top: 10px;
      margin: 0px;
      border-style: solid;
    
    
    }
    .emptybox2 {
      position: relative; left: 166px; bottom:250px;
      width: 1000px;
      height: 113px;
      text-align: center;
      font-weight: bold;
      padding-top: 10px;
      margin: 0px;
      border-style: solid;
    
    
    }
    .emptybox3 {
      position: relative; left: 166px; bottom:213px;
      width: 1000px;
      height: 113px;
      text-align: center;
      font-weight: bold;
      padding-top: 10px;
      margin: 0px;
      border-style: solid;
    }
    
    
    
    
    .infocontent3 ul li {
      list-style: none;
      position: relative; top:200px;
    }
    
.left2{
    width: 300px;
    float: left;
    min-height: 650px;
    background-color: bisque;
    font-size: 90%;
  }
  .right2{
    padding-left: 0px; 
    padding-top: 100px;
    margin-bottom: 100px;
  }
  #cc4 {
    width:800px;
    height:40px ;
    border-color: black;
  }
  .right2 ul {
    margin: 0px;
    font-size: 125%;
    padding-left: 400px;
      
  }
  .right2 li {
    list-style: none;
    padding-top: 40px;
    padding-left: 100px;
  }
  
  #department-info {
    font-size: 150%;
    background-color: bisque;
    width: 300px;
    height: 150px;
    border-color:beige
  }
  #menu {
    font-size: 150%;
    background-color: bisque;
    width: 300px;
    height: 150px;
    border-color:beige
  }
  
  #order {
    font-size: 150%;
    background-color: bisque;
    width: 300px;
    height: 150px;
    border-color:beige
  }
  
  #appetizer {
    font-size: 150%;
    background-color: bisque;
    width: 300px;
    height: 150px;
    border-color:beige
  }
  
  #mainDish {
    font-size: 150%;
    background-color: bisque;
    width: 300px;
    height: 150px;
    border-color:beige
  }
  
  #desert {
    font-size: 150%;
    background-color: bisque;
    width: 300px;
    height: 150px;
    border-color:beige
  }
  
  #dishByDate {
    font-size: 150%;
    background-color: bisque;
    width: 300px;
    height: 150px;
    border-color:beige
  }
  .feedback1 {
	padding: 20px;
	padding-left: 100px;
}
.contact1 {
	padding: 20px;
	padding-left: 100px;
	font-size: 120%;
}
.icon1 {
	width:30px;
	height:30px;
	padding: 10px;
}
.feedback1{
	font-weight: bold;
	font-size: 120%;
}