.left5 {
    width: 300px;
    float: left;
    min-height: 650px;
    background-color: bisque;
    font-size: 90%;
}
.right5 {
    padding-left: 50px; 
    padding-top: 50px;
    margin-bottom: 50px;
}
.right5 ul {
    margin: 0px;
    font-size: 125%;
    padding-left: 400px;

}
.right5 li {
    list-style: none;
    padding-top: 40px;
    padding-left: 100px;
}
.dish{
    width:500px;
    height: auto;
}
.selectBtn{
    background-color: burlywood;
    margin-left: 15%;
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 10%;
    font-weight: bold;
    
}
.dish_title {
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.dish_price{
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#d5 {
    border: solid black;
    width: 200px;
    height: 40px;
}